<html>

<link rel="stylesheet" href="/src/app/auth/login/login.component.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>

</head>

<body>
    

<div class="container login-container">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="imagem/Imagem pet 3.jpg" width="90" height="90"/>
            <h3>Bem Vindo</h3>
            <p>Área de Login</p>
            <input type="submit" name="" value="./login.component.html"/><br/>
        </div>
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Login Cliente</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Seu E-mail *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Sua senha *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">
                            <a href="#" class="ForgetPwd">Recuperar Senha</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 login-form-2">
                    <h3>Login Administrativo</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Seu E-mail *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Sua senha *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">

                            <a href="#" class="ForgetPwd" value="Login">Recuperar Senha</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>

</html>