
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/src/app/pages/quemsomos/quemsomos.component.html">Quem Somos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/src/app/pages/centrodeestetica/centrodeestetica.component.html">Centro de Estética</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/src/app/pages/hospedagem/hospedagem.component.html">Hospedagem</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/src/app/pages/e-commerce/e-commerce.component.html">Loja Virtual</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">Centro de Estética</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Meios de Contato</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/src/app/pages/contato/contato.component.html">Contato</a></li>
      <li><a class="dropdown-item" href="/src/app/pages/chat/chat.component.html">Chat</a></li>
      <li><a class="dropdown-item" href="/src/app/pages/localizacao/localizacao.component.html">Localização</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/src/app/pages/login/login.component.html">Login</a>
  </li>
</ul>